.login {
  &-screen {
    width: 100%;
    height: 100vh;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: $white-color;
    background: $primary-color;
    padding: 30px;
    @media(max-width: 767px){
      padding: 15px;
    }
    &-header {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &-content {
      width: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-footer {
      width: 100%;
      font-size: 12px;
      text-align: center;
    }
  }
  &-lang{
    &-list{
      height: 32px;
      overflow: hidden;
      &:hover,&.opened{
        overflow: visible;
        .login-lang-item{
          color: $text-color;
          background: $content-bg;
        }
      }
    }
    &-item{
      padding: 0 15px;
      line-height: 2;
    }
    &-switch{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2.5vmin 0 3.5vmin;
      &:after{
        content: '';
        border: 5px solid transparent;
        border-top-color: $white-color;
      }
    }
  }
  &-search{
    width: 100%;
    height: 100px;
    position: fixed;
    left: 0;
    top: 0;
    color: $black-color;
    background: $content-bg;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    @media(max-width: 767px){
      height: 60px;
      padding: 15px;
    }
    &.opened{
      display: flex;
    }
    &-image{
      width: 25px;
      margin-right: 30px;
    }
    &-input{
      width: 100%;
      font-size: 28px;
      line-height: 2.14;
      border: none;
      @media(max-width: 767px){
        font-size: 16px;
      }
    }
    &-close{
      position: relative;
      width: 25px;
      height: 25px;
      &:before,&:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        background: $black-color;
        opacity: 0.5;
        transform: translateX(-50%) rotate(45deg);
        transform-origin: center;
      }
      &:after{
        transform: translateX(-50%) rotate(-45deg);
      }
    }
    &-btn{
      img{
        width: 25px;
      }
    }
  }
  &-logo{
    width: 100%;
    max-width: 270px;
    margin-bottom: 7.8vmin;
  }
  &-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    &.hidden{
      display: none;
    }
    &-title{
      font-weight: 300;
      margin-bottom: 6.8vmin;
    }
    &-wrap{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &-input{
      width: 100%;
      font-weight: 300;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $white-color;
      padding: 7px 0;
      &-group{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 5vmin;
      }
      &-name{
        margin-bottom: 20px;
      }
    }
    &-buttons{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        padding: 15px;
        border: 2px solid $white-color;
        border-radius: 3px;
        transition: .3s;
        &:hover{
          transform: translateX(5px);
        }
        img{
          width: 25px;
          margin-left: 15px;
        }
      }
      &-link{
        text-decoration: underline;
        @media(max-width: 767px){
          font-size: 14px;
        }
      }
    }
  }
}