.calendar{
  margin: 0;
  padding: 0 0 30px;
  background-color: $content-bg;
}
.fc{
  .fc-header-toolbar{
    margin: 0 0 30px;
    h2{
      font-size: 24px;
      line-height: 1;
      @media(max-width: 767px){
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
  .fc-state-default{
    height: 25px;
    font-size: 12px;
    font-weight: 400;
    color: $text-color;
    background-color: $gainsboro-color;
    background-image: none;
    border-radius: 2px;
    border-color: $gainsboro-color;
    padding: 0 15px;
    @media(max-width: 767px){
      padding: 0 5px;
    }
  }
  .fc-state-hover{
    color: $white-color;
    background: $red-hover-color;
    border-color: $red-hover-color;
  }
  .fc-state-active{
    color: $white-color;
    background: $red-color;
    border-color: $red-color;
    &:hover{
      background: $red-hover-color;
      border-color: $red-hover-color;
    }
  }
  .fc-day-header{
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    padding: 15px;
    background: $calendar-bg;
  }
  .fc-day-top{
    padding: 15px;
  }
  .fc-other-month{
    background: #fef6f6;
  }
  .fc-content{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    &:before{
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      border-radius: 2px;
      background-color: transparent;
    }
    &__red{
      .fc-content:before{
        background-color: $red-color;
      }
    }
    &__blue{
      .fc-content:before{
        background-color: $blue-color;
      }
    }
    &__green{
      .fc-content:before{
        background-color: $green-color;
      }
    }
    .fc-title{
      order: 1;
      font-size: 12px;
      font-weight: 500;
      line-height: 1.5;
      color: $text-color;
    }
    .fc-time{
      order: 2;
      color: #c5c5c5;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.67;
    }
  }
  .fc-event, .fc-event-dot{
    color: $text-color;
    background-color: $white-color;
    border: none;
    border-radius: 2px;
    padding: 5px!important;
    box-shadow: 0px 10px 40px 0 rgba(0,0,0,.1);
}
  .fc-day-grid-event{
    margin: 15px 0 0 10px;
    padding: 0;
  }
  .fc-not-start{
    margin: 0 0 0 10px!important;
  }
  .fc-more{
    font-size: 12px;
    color: $white-color;
    border-radius: 2px;
    background-color: $red-color;
    padding: 5px;
    margin: 0!important;
    &-cell{
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  .fc-popover{
    .fc-header{
      font-size: 14px;
      color: $white-color;
      background: $primary-color;
      padding: 7px 10px;
      .fc-close{
        color: inherit;
        margin: 0;
      }
    }
  }
  td.fc-today{
    background: #fef6f6;
  }

}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead{
  border-color: #f0f0f0;
}
a[data-goto]{
  width: 16px;
  line-height: 1;
  text-align: center;
  position: relative;
  &:before{
    content: '';
    display: block;
    opacity: 0;
    position: absolute;
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
    z-index: -1;
    bottom: -5px;
    left: -5px;
    right: -5px;
    top: -5px;
    background: none;
    border-radius: 50%;
    transform: scale(0);
    transition-property: transform,opacity,background-color;
  }
  &:hover{
    text-decoration: none;
    &:before{
      background-color: rgba(32,33,36,0.059);
      opacity: 1;
      transform: scale(1);
    }
  }
}