.content{
  width: calc(100% - 265px);
  padding: 30px 7vmin;
  margin-left: 265px;
  margin-top: 45px;
  transition: width .3s, margin-left .3s;
  @media(max-width: 1024px){
    width: calc(100% - 85px);
    margin-left: 85px;
    padding: 20px;
  }
  @media(max-width: 767px){
    width: 100%;
    margin-left: 0;
    padding: 20px 10px;
    margin-top: 30px;
  }
  &.full{
    width: calc(100% - 85px);
    margin-left: 85px;
    @media(max-width: 767px){
      width: 100%;
      margin-left: 0;
    }
  }
}