.dashboard{
  margin: 30px 0;
  @media(max-width: 767px){
    margin: 20px 0;
  }
  &-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item{
    width:calc(33.33334% - 20px);
    background: $content-bg;
    border-radius: 2px;
    padding: 30px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
    @media(max-width: 1600px) and (min-width: 992px){
      width: calc(50% - 15px);
      &:first-child{
        width: 100%;
        margin-bottom: 30px;
      }
    }
    @media(max-width: 991px){
      width: 100%;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    @media(max-width: 767px){
      margin-bottom: 20px;
    }
    &-title{
      font-weight: 500;
      margin-bottom: 30px;
      @media(max-width: 767px){
        margin-bottom: 20px;
      }
    }
    &-inputs{
      display: flex;
      flex-wrap: wrap;
    }
    &-input{
      font-size: 14px;
      color: $input-color;
      border-radius: 0;
      border: 1px solid $border-color;
      padding: 15px;
      margin-bottom: 25px;
      @media(max-width: 767px) and (orientation: portrait){
        margin-bottom: 10px;
      }
      &_date{
        width: calc(65% - 20px);
        margin-right: 20px;
        @media(max-width: 767px) and (orientation: portrait){
          width: 100%;
          margin-right: 0;
        }
      }
      &_select{
        width: 35%;
        @media(max-width: 767px) and (orientation: portrait){
          width: 100%;
        }
      }
    }
    &-button{
      width: 33.33334%;
      color: $input-color;
      border: 1px solid $border-color;
      padding: 15px;
      transition: .3s;
      &:hover{
        background: $calendar-bg;
      }
      &.active{
        color: $white-color;
        background: $primary-color;
        border-color: $primary-color;
        &:hover{
          background: $primary-hover-color;
        }
      }
    }
  }
}