.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: $black-color;
  margin: 30px 0;
  @media(max-width: 767px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &-copyright{
    br{
      display: none;
    }
    @media(max-width: 767px){
      line-height: 1.67;
      margin-bottom: 25px;
      br{
        display: block;
      }
    }
  }
  &-link{
    color: $red-color;
    text-decoration: underline;
  }
}