.header{
  width: calc(100% - 265px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 25px;
  right: 0;
  padding: 5px 7vmin;
  z-index: 8;
  transition: width .3s;
  @media(max-width: 1024px){
    width: calc(100% - 85px);
    padding: 5px 20px;
  }
  @media(max-width: 767px){
    width: 100%;
    top: 0;
    padding: 5px 10px;
  }
  &.full{
    width: calc(100% - 85px);
    @media(max-width: 767px){
      width: 100%;
    }
  }
  &.searchOpened{
    z-index: 9;
  }
  &.sticky{
    top: 0;
    color: $white-color;
    background: $primary-color;
    .header-btn-line{
      background: $white-color;
    }
    .header-date, .header-lang{
      color: $white-color;
    }
    .header-search-button-svg-path{
      fill: $white-color;
    }
    .header-lang:after{
      border-top-color:$white-color;
    }
  }
  &-mobileLogo{
    width: 55px;
    display: none;
    @media(max-width: 767px){
      display: block;
    }
  }
  &-btn{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:before{
      content: '';
      display: block;
      opacity: 0;
      position: absolute;
      transition-duration: .15s;
      transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
      z-index: -1;
      bottom: -5px;
      left: -5px;
      right: -5px;
      top: -5px;
      background: none;
      border-radius: 50%;
      transform: scale(0);
      transition-property: transform,opacity,background-color;
    }
    &:hover{
      &:before{
        background-color: rgba(32,33,36,0.059);
        opacity: 1;
        transform: scale(1);
      }
    }
    &-line{
      width: 2px;
      height: 15px;
      background: $primary-color;
      transition: .15s;
      &:nth-child(2){
        height: 20px;
        margin: 0 8px;
      }
    }
    &.opened{
      .header-btn-line:nth-child(2){
        margin: 0 5px;
      }
    }
  }
  &-controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-date{
    color: $grey-color;
    @media(max-width: 767px) and (orientation: portrait){
      display: none;
    }
  }
  &-lang{
    height: 40px;
    position: relative;
    overflow: hidden;
    color: $black-color;
    margin: 0 15px;
    &:after{
      content: '';
      position: absolute;
      top: 16px;
      right: 15px;
      border: 5px solid transparent;
      border-top-color: $black-color;
    }
    &:hover{
      color: $black-color!important;
      overflow: visible;
      border-radius: 2px;
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
      &:after{
        top: 11px;
        border-top-color: transparent;
        border-bottom-color: $black-color;
      }
      .header-lang-item {
        background: $content-bg;
      }
    }
    &-item{
      line-height: 2.5;
      padding: 0 40px 0 20px;
    }
  }
  &-search{
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    color: $black-color;
    background: $content-bg;
    padding: 15px 30px;
    @media(max-width: 767px){
      height: 60px;
      padding: 15px;
    }
    &-image{
      width: 25px;
      margin-right: 30px;
    }
    &-input{
      width: 100%;
      font-size: 28px;
      line-height: 2.14;
      border: none;
      @media(max-width: 767px){
        font-size: 16px;
      }
    }
    &-close{
      position: relative;
      width: 25px;
      height: 25px;
      &:before,&:after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 2px;
        background: $black-color;
        opacity: 0.5;
        transform: translateX(-50%) rotate(45deg);
        transform-origin: center;
      }
      &:after{
        transform: translateX(-50%) rotate(-45deg);
      }
    }
    &-wrap{
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
      &.opened{
        display: block;
      }
    }
    &-button{
      position: relative;
      &:before{
        content: '';
        display: block;
        opacity: 0;
        position: absolute;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
        z-index: -1;
        bottom: -10px;
        left: -15px;
        right: -15px;
        top: -15px;
        background: none;
        border-radius: 50%;
        transform: scale(0);
        transition-property: transform,opacity,background-color;
      }
      &:hover{
        &:before{
          background-color: rgba(32,33,36,0.059);
          opacity: 1;
          transform: scale(1);
        }
      }
      &-svg{
        width: 20px;
        height: 20px;
        &-path{
          fill: $black-color;
        }
      }
    }
    &-overlay{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: $overlay-color;
    }
  }
}