.hotCharts{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 30px 0;
  @media(max-width: 767px){
    margin: 20px 0;
  }
  &-card{
    width: calc(25% - 22.5px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: $white-color;
    background: $black-color;
    padding: 5vmin 4vmin;
    @media(max-width: 1600px) and (min-width: 768px){
      width: calc(50% - 15px);
      &:nth-child(1), &:nth-child(2){
        margin-bottom: 30px;
      }
    }
    @media(max-width: 767px){
      width: 100%;
      margin-bottom: 10px;
      padding: 50px 40px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
    &_light-blue{
      background: $light-blue-color;
    }
    &_slate-blue{
      background: $slate-blue-color;
    }
    &_crayola-blue{
      background: $crayola-blue-color;
    }
    &_red{
      background: $red-color;
    }
    &-image{
      width: 60px;
      min-width: 6vmin ;
      margin-right: 4vmin;
    }
    &-info{
      text-transform: uppercase;
      font-weight: 500;
      &-value{
        font-size: calc(24px + 1.6vmin);
        margin-bottom: 15px;
        white-space: nowrap;
      }
      &-title{
        font-size: 14px;
        white-space: nowrap;
      }
    }
    &-updated{
      position: absolute;
      right: 15px;
      bottom: 15px;
      font-size: 12px;
    }
  }
}