.modal{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  &-overlay{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: $overlay-color;
    cursor: pointer;
  }
  &-inner{
    max-width: 90%;
    min-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: $content-bg;
    border-radius: 2px;
    overflow: hidden;
    transform: translate(-50%,-50%);
    @media(max-width: 767px){
      min-width: 300px ;
    }
  }
  &-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    color: $white-color;
    line-height: 1.2;
    font-weight: 500;
    background: $primary-color;
    padding: 15px 30px;
    @media(max-width: 767px){
      height: 50px;
      padding: 5px 10px;
    }
  }
  &-content{
    padding: 15px 0;
    @media(max-width: 767px){
      padding: 5px 0;
    }
  }
  &-close{
    cursor: pointer;
    &-image{
      width: 15px;
      height: 15px;
    }
  }
  &-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    &-item{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px;
      transition: .3s;
      @media(max-width: 767px){
        padding: 5px 10px;
      }
      &.editing{
        .modal-list-item-edit, .modal-list-item-cancelEdit{
          display: block;
        }
        .modal-list-item-text,.modal-list-icons{
          display: none;
        }
      }
      &:hover{
        background: $modal-hover-color;
        .modal-list-icons{
          opacity: 1;
        }
      }
      &-edit{
        display: none;
        position: relative;
        width: 100%;
        margin-right: 30px;
        @media(max-width: 767px){
          margin-right: 5px;
        }
        &-input{
          width: 100%;
          border-color: $blue-color;
          padding: 9.5px 40px 9.5px 15px;
          margin: -10px 0;
          @media(max-width: 767px){
            padding: 4.5px 40px 4.5px 5px;
            margin: -5px 0;
          }
        }
      }
      &-endEdit{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        right: 9px;
        background: $red-color;
        border-radius: 2px;
        transform: translateY(-50%);
        @media(max-width: 767px){
          right: 3px;
        }
        &:before{
          content: '';
          position: absolute;
          top: 8px;
          left: 8px;
          width: 8px;
          height: 4px;
          border-bottom: 3px solid $white-color;
          border-left: 3px solid $white-color;
          transform: rotate(-45deg);
        }
      }
      &-cancelEdit{
        display: none;
        width: 16px;
        height: 16px;
      }
      &-icon{
        width: 16px;
        height: 16px;
        margin-right: 15px;
      }
      &-text{
        margin-right: auto;
      }
    }
    &-icons{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      opacity: 0;
      transition: .3s;
    }
    &-icon{
      width: 20px;
      height: 20px;
      margin-right: 10px;
      @media(max-width: 767px){
        margin-right: 0;
      }
      &:last-child{
        margin-right: 0;
      }
      &~*{
        @media(max-width: 767px){
          display: none;
        }
      }
    }
    &-text{
      line-height: 1;
      margin-left: 20px;
      margin-right: 15px;
    }
  }
  &-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 30px;
    @media(max-width: 767px){
      padding: 5px 10px;
    }
    &-button{
      color: $white-color;
      font-weight: 500;
      background: $red-color;
      border-radius: 2px;
      padding: 15px 25px;
      margin-right: 5vmin;
      box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
      @media(max-width: 767px){
        padding: 10px 15px;
      }
    }
  }
}