.news{
  margin: 0;
  &-view{
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 16px;
    font-weight: 500;
    background: $content-bg;
    border-radius: 2px;
    padding: 15px 20px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);
    transition: .3s;
    &:hover{
      background: $calendar-bg;
    }
    @media(max-width: 767px){
      padding: 10px 15px;
    }
  }
  &-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-item{
    width: calc(25% - 22.5px);
    display: flex;
    flex-direction: column;
    position: relative;
    background: $content-bg;
    border-bottom: 3px solid transparent;
    margin-bottom: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    @media(max-width: 1400px){
      width: calc(50% - 15px);
    }
    @media(max-width: 767px){
      width: 100%;
      margin-bottom: 20px;
    }
    &:hover{
      .news-item-arrow{
        opacity: 1;
      }
    }
    &-image{
      img{
        width: 100%;
      }
    }
    &-text{
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 30px;
      @media(max-width: 1500px){
        padding: 15px;
      }
      &-title{
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 30px;
      }
      &-description{
        height: 56px;
        overflow: hidden;
        line-height: 1.75;
        margin-bottom: 25px;
      }
    }
    &-arrow{
      width: 30px;
      height: 25px;
      display: flex;
      opacity: 0;
      margin-top: auto;
      transition: .3s;
      @media(max-width: 767px){
        opacity: 1;
      }
    }
    &-documentType{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      bottom: -1px;
      font-size: 18px;
      font-weight: 700;
      color: $white-color;
      text-transform: uppercase;
      &:hover{
        .news-item-documentType-tooltip{
          opacity: 1;
        }
      }
      &-tooltip{
        position: absolute;
        bottom: 50px;
        right: -5px;
        font-size: 12px;
        font-weight: normal;
        color: $white-color;
        background: $primary-color;
        border-radius: 2px;
        padding: 10px 15px;
        opacity: 0;
        transition: .3s;
        &:after{
          content: '';
          position: absolute;
          bottom: -5px;
          right: 20px;
          width: 0;
          height: 0;
          border: 5px solid transparent;
          border-bottom-color: $primary-color;
          border-right-color: $primary-color;
          transform: rotate(45deg);
        }
      }
    }
    &_red{
      border-color: $red-color;
      .news-item-documentType{
        background-color: $red-color;
      }
    }
    &_blue{
      border-color: $blue-color;
      .news-item-documentType{
        background-color: $blue-color;
      }
    }
    &_slate-blue{
      border-color: $slate-blue-color;
      .news-item-documentType{
        background-color: $slate-blue-color;
      }
    }
    &_green{
      border-color: $green-color;
      .news-item-documentType{
        background-color: $green-color;
      }
    }
    &_orange{
      border-color: $orange-color;
      .news-item-documentType{
        background-color: $orange-color;
      }
    }
  }
}