.reports{
  margin: 30px 0;
  @media(max-width: 767px){
    margin: 20px 0;
  }
  &-items{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &-item{
    width:calc(50% - 15px);
    background: $content-bg;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 2px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.05);
    @media(max-width: 767px){
      width: 100%;
    }
    &_full{
      width: 100%;
    }
    &-title{
      font-weight: 500;
      margin-bottom: 30px;
    }
    &-chart{
      &_vmap{
        height: 400px;
        @media(max-width: 767px){
          height: 300px;
        }
      }
    }
  }
}