.resources{
  margin: 30px 0;
  &-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-item{
    width: calc(25% - 22.5px);
    background-color: $content-bg;
    border-radius: 2px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    margin-bottom: 30px;
    transition: .3s;
    &:hover{
      transform: translateY(-5px);
    }
    @media(max-width: 991px){
      width: calc(50% - 15px);
    }
    @media(max-width: 767px){
      width: 100%;
    }
    &-image{
      width: 100%;
    }
    &-link{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: calc(10px + 0.6vmin);
      font-weight: 500;
      color: $primary-color;
      padding: 3vmin ;
      &-text{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-image{
        width: calc(14px + 0.6vmin);
        height: calc(14px + 0.6vmin);
        margin-left: 10px;
      }
    }
  }
}