.results{
  width: 100%;
  margin: 30px 0;
  &-controls{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    @media(max-width: 767px) and (orientation: portrait){
      flex-wrap: wrap;
    }
    &-button{
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      line-height: 1;
      font-weight: 500;
      border-radius: 2px;
      padding: 5px 15px;
      margin-right: 15px;
      transition: .3s;
      @media(max-width: 767px) and (orientation: portrait){
        margin: 0 0 10px;
      }
      &_red{
        color: $white-color;
        background: $red-color;
        &:hover{
          background: $red-hover-color;
        }
      }
      &_white{
        font-weight: 400;
        background: $content-bg;
        &:hover{
          background: $calendar-bg;
        }
      }
    }
    &-select{
      font-size: 14px;
      background: $content-bg;
      padding: 9.5px 15px;
      margin-left: auto;
      @media(max-width: 767px) and (orientation: portrait){
        margin: 0 0 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      &_left{
        margin-left: 0;
        margin-right: 15px;
      }
    }
  }
  &-table{
    width: 100%;
    font-size: 14px;
    background: $content-bg;
    border:none!important;
    margin-bottom: 30px!important;
    table-layout: fixed;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.05);
    &-actions{
      display: none;
      padding: 10px 15px;
      margin-right: 20px;
      @media(max-width: 767px){
        padding: 5px 10px;
        margin-right: 10px;
      }
    }
    &-checkbox{
      display: none;
      &:checked+.results-table-checkbox-inner{
        background: $primary-color;
        border-color: $primary-color;
      }
      &-inner{
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
        border: 1px solid $black-color;
        border-radius: 2px;
        cursor: pointer;
        &:after{
          content: '';
          display: block;
          width: 3px;
          height: 6px;
          position: absolute;
          left: 4px;
          top: 2px;
          background: transparent;
          border-right: 2px solid $content-bg;
          border-bottom: 2px solid $content-bg;
          transform: rotate(45deg);
        }
        &:before{
          content: '';
          display: block;
          opacity: 0;
          position: absolute;
          transition-duration: .15s;
          transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
          z-index: 0;
          bottom: -10px;
          left: -10px;
          right: -10px;
          top: -10px;
          background: none;
          border-radius: 50%;
          transform: scale(0);
          transition-property: transform,opacity,background-color;
        }
        &:hover{
          &:before{
            background-color: rgba(32,33,36,0.059);
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }
    &-text{
      display: inline-block;
      width: 100%;
      //max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      &_link{
        &:hover{
          color: $red-color;
          text-decoration: underline;
        }
      }
    }
    &-image{
      width: 20px;
      height: 20px;
    }
    &-doc{
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 500;
      color: $white-color;
      text-transform: uppercase;
      border-radius: 2px;
      margin: auto;
      &_red{
        background-color: $red-color;
      }
      &_blue{
        background-color: $blue-color;
      }
      &_slate-blue{
        background-color: $slate-blue-color;
      }
      &_green{
        background-color: $green-color;
      }
      &_orange{
        background-color: $orange-color;
      }
    }
    &-date{
      display: inline-block;
      font-size: 12px;
      border-radius: 2px;
      white-space: nowrap;
      background: $secondary-color;
      padding: 5px 10px;
    }
    &-type{
      display: inline-block;
      min-width: 80px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 2px;
      background: $gainsboro-color;
      padding: 5px 10px;
      &_rush{
        color: $white-color;
        background: $red-color;
        text-transform: none;
      }
      &_qty{
        min-width: 0;
      }
      &_standart{
        text-transform: none;
      }
      &_green{
        color: $white-color;
        background: $green-color;
        text-transform: none;
      }
      &_mail{
        text-transform: none;
      }
    }
    &-briefcase{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-text{
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-right: 10px;
        //transition: width .15s;
        @media(max-width: 767px){
          display: none;
        }
      }
      &-buttons{
        width: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        opacity: 0;
        //overflow: hidden;
        //transition: width .15s, opacity 0s;
      }
      &-button{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 1;
        font-weight: 500;
        color: $white-color;
        border-radius: 2px;
        background: $red-color;
        padding: 8px 10px;
        margin-right: 10px;
        transition: .3s;
        &:hover{
          background-color: $red-hover-color;
        }
        @media(max-width: 767px) and (orientation: portrait){
          width: 100%;
        }
        &:before{
          content: '+';
          margin-right: 10px;
        }
        &_added{
          background:$primary-color;
          &:before{
            display: none;
          }
          &:hover{
            background: $primary-hover-color;
          }
        }
      }
      &-download{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &:before{
          content: '';
          display: block;
          opacity: 0;
          position: absolute;
          transition-duration: .15s;
          transition-timing-function: cubic-bezier(0.4,0.0,0.2,1);
          z-index: -1;
          bottom: -5px;
          left: -5px;
          right: -5px;
          top: -5px;
          background: none;
          border-radius: 50%;
          transform: scale(0);
          transition-property: transform,opacity,background-color;
        }
        &:hover{
          &:before{
            background-color: rgba(32,33,36,0.059);
            opacity: 1;
            transform: scale(1);
          }
        }
        @media(max-width: 767px) and (orientation: portrait){
          min-width: 20px;
          min-height: 20px;
          max-width: 20px;
          min-width: 20px;
        }
        img{
          width: 20px;
          height: 20px;
        }
      }
    }
    &-socials{
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
    }
    &-social{
      width: 20px;
      height: 20px;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
    }
    thead{
      tr{
        th{
          height: 41px;
          font-weight: 500;
          color: inherit;
          border-color: $border-color;
          padding: 10px;
          &:nth-child(1){
            width: 10px;
          }
          &:nth-child(2){
            width: 40px;
            background-position: center center;
          }
          &:nth-child(3){
            width: 20px;
          }
          &:nth-child(4){
            //width: 30%;
            //min-width: 200px;
          }
          &:nth-child(5){
            width: 140px;
          }
          &:nth-child(6){
            width: 100px;
          }
          &:nth-child(7){
            //width: 70%;
            //min-width: 400px;
          }
        }
      }
    }
    tbody{
      tr{
        transition: .1s linear;
        &.selected{
          background-color: $selected-color!important;
          td{
            border-color: #b5cbd4 !important;
          }
        }
        &:not(.child):hover{
          transform: scale(1.015,1.015);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
          .results-table-briefcase-text{
            width: calc(100% - 220px);
          }
          .results-table-briefcase-buttons{
            width: 220px;
            opacity: 1;
            &_added{
              width: 420px;
            }
            //transition: width .15s, opacity .15s .15s;
          }
        }
        &.child{
          padding: 0!important;
          background: #f7f7f7!important;
          &:hover{
            background: #f7f7f7!important;
          }
          .dtr-title{
            min-width: 90px!important;
            &:empty{
              display: none!important;
            }
          }
          .dtr-details{
            padding: 10px 0!important;
            li{
              padding: 20px 0!important;
              &:first-child{
                padding-top: 0 !important;
              }
              &:last-child{
                padding-bottom: 0 !important;
              }
            }
          }
          .results-table-briefcase{
            @media(max-width: 767px){
              flex-direction: column;
            }
            &-text{
              width: calc(100% - 220px);
              @media(max-width: 767px){
                width: 100%;
                margin-bottom: 15px;
                margin-right: 0;
              }
            }
            &-buttons{
              width: 220px;
              opacity: 1;
              &_added{
                width: 420px;
              }
              @media(max-width: 767px) and (orientation: portrait){
                width: 100%;
              }
            }
          }
        }
        td{
          padding: 10px;
          border-top-color: #f0f0f0!important;
          height: 40px;
          &:first-child{
            padding-left: 10px !important;
            @media(max-width: 1024px){
              padding-left: 20px !important;
              padding-right: 20px !important;
            }
            &:before{
              top: 50% !important;
              left: 13px !important;
              font-size: 20px !important;
              color: $primary-color!important;
              font-weight: 900!important;
              background: none!important;
              border: none!important;
              box-shadow: none!important;
              transform: translateY(-50%);
            }
          }
          &.child{
            background: #f7f7f7!important;
            &:hover{
              background: #f7f7f7!important;
            }
            .dtr-details{
              width: 100%;
            }
          }
        }
      }
    }
    &_tickets{
      thead{
        tr{
          th{
            &:nth-child(1){
              width: 10px;
            }
            &:nth-child(2){
              width: 100%;
              background-position: center right;
              padding-left: 20px;
            }
            &:nth-child(3){
              width: 130px;
            }
            //&:nth-child(4){
            //  width: 120px;
            //}
            //&:nth-child(5){
            //  width: 110px;
            //}
            &:nth-child(4){
              width: 175px;
            }
            &:nth-child(5){
              width: 80px;
            }
            &:nth-child(6){
              width: 110px;
            }
            &:nth-child(7){
              width: 70px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:nth-child(2){
              padding-left: 20px;
            }
          }
        }
      }
    }
    &_commentaries{
      thead{
        tr{
          th{
            &:nth-child(1){
              width: 10px;
            }
            &:nth-child(2){
              width: 35px;
              background-position: center center;
            }
            &:nth-child(3){
              width: 100%;
              background-position: center left;
              padding-left: 25px;
            }
            &:nth-child(4){
              width: 20px;
            }
            &:nth-child(5){
              width: 130px;
              background-position: center center;
            }
          }
        }
      }
      .results-table-briefcase-download{
        opacity: 0;
        @media(max-width: 767px) and (orientation: portrait){
          opacity: 1;
        }
      }
      tbody tr:not(.child):hover{
        .results-table-briefcase-download{
          opacity: 1;
        }
      }
    }
    &_briefcase{
      thead{
        tr{
          th{
            &:nth-child(1){
              width: 10px;
            }
            &:nth-child(2){
              width: 40px;
            }
            &:nth-child(3){
              width: 100%;
              background-position: center left;
              padding-left: 25px;
            }
            &:nth-child(4){
              width: 130px;
            }
            &:nth-child(5){
              width: 80px;
            }
            &:nth-child(6){
              width: 140px;
            }
            &:nth-child(7){
              width: 40px;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            &:nth-child(2){
              padding-left: 20px;
            }
            &:nth-child(7){
              padding-right: 20px;
            }
          }
        }
      }
    }
    &_briefcaseDetails{
      thead{
        tr{
          th{
            &:nth-child(1){
              width: 10px;
            }
            &:nth-child(2){
              width: 35px;
              background-position: center center;
            }
            &:nth-child(3){
              width: 100%;
              background-position: center left;
              padding-left: 25px;
            }
            &:nth-child(4){
              width: 130px;
              background-position: center center;
            }
            &:nth-child(5){
              width: 20px;
            }
          }
        }
      }
    }
  }
  .dataTables_paginate{
    float: none;
    text-align: left;
    padding: 0;
    margin-bottom: 30px;
    .paginate_button{
      width: 50px;
      height: 50px;
      color: $black-color;
      font-size: 14px;
      line-height: 50px;
      font-weight: 500;
      background: $content-bg;
      border-radius: 0;
      padding: 0;
      margin: 0;
      margin-right: 1px;
      &:hover,&:focus,&:active{
        color: $black-color!important;
        background: $calendar-bg;
        border-color: $calendar-bg;
        box-shadow: none!important;
      }
      &.disabled{
        background: $content-bg;
        &:hover{
          background: $content-bg;
        }
      }
      &.current{
        color: $white-color!important;
        background: $primary-color;
        border-color: $primary-color;
        &:hover{
          color: $white-color!important;
          background: $primary-hover-color;
          border-color: $primary-hover-color;
        }
      }
    }
    .ellipsis{
      vertical-align: bottom;
    }
  }
}