.search{
  margin: 30px 0;
  @media(max-width: 767px){
    margin: 20px 0;
  }
  &-items{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;
    background: $content-bg;
    padding: 30px;
    padding-bottom: 0;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,.05);
  }
  &-item{
    width: calc(25% - 22.5px);
    margin-bottom: 30px;
    &_date{
      width: calc(19% - 22.5px);
      min-width: 210px;
      @media(max-width: 1300px){
        width: calc(50% - 15px);
      }
      @media(max-width: 1024px){
        width: 100%;
        order: 2;
      }
      &-events{
        width: calc(45% - 22.5px);
        min-width: 210px;
        @media(max-width: 1300px){
          width: calc(50% - 15px);
        }
        @media(max-width: 1024px){
          width: 100%;
          order: 2;
        }
      }
    }
    &_multiselect{
      width: calc(27% - 22.5px);
      @media(max-width: 1300px){
        width: calc(50% - 15px);
      }
      @media(max-width: 1024px){
        order: 4;
        width: calc(100% + 60px);
        margin: 0 -30px;
        padding: 30px;
        background: #f7f7f7;
        border-top: 1px solid #ccc;
      }
    }
    &_select{
      width: calc(15% - 22.5px);
      @media(max-width: 1300px){
        width: calc(50% - 15px);
      }
      @media(max-width: 1024px){
        width: 100%;
        order: 3;
      }
    }
    &_keywords{
      width: calc(55% - 22.5px);
      @media(max-width: 1300px){
        width: calc(50% - 15px);
      }
      @media(max-width: 1024px){
        width: calc(100% + 60px);
        order: 1;
        color: $white-color;
        background: $primary-color;
        padding: 30px 30px 20px;
        margin: -30px;
        margin-bottom: 30px;
      }
      .search-item-title{
        opacity: 0;
        @media(max-width: 1024px){
          display: none;
        }
      }
    }
    &-title{
      font-weight: 500;
      margin-bottom: 15px;
    }
    &-input{
      width: 100%;
      font-size: 14px;
      padding: 10.5px 15px;
    }
    &-multiselect{
      width: 100%;
    }
    &-select{
      width: 100%;
      font-size: 14px;
      padding: 10.5px 15px;
    }
    &-keywords{
      position: relative;
      &-image{
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        &_grey{
          @media(max-width: 1024px){
            display: none;
          }
        }
        &_white{
          display: none;
          @media(max-width: 1024px){
            display: block;
          }
        }
      }
      &-input{
        width: 100%;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $border-color;
        padding: 10px 15px 10px 40px;
      }
      &-button{
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 12px;
        font-weight: 500;
        color: $white-color;
        background: $red-color;
        border-radius: 2px;
        padding: 7px 15px;
        transform: translateY(-50%);
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
        transition: .3s;
        &:hover{
          background-color: $red-hover-color;
        }
        @media(max-width: 1024px){
          display: none;
        }
      }
    }
  }
  .select2-container--default {
    .select2-selection--multiple {
      border: 1px solid $border-color;
      border-radius: 3px;
      padding: 5px;
      .select2-selection__rendered {
        min-height: 28px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 0;

        .select2-selection__choice {
          font-size: 12px;
          color: inherit;
          border: none;
          border-radius: 3px;
          padding: 8px 10px;
          margin: 0;
          margin-right: 5px;
          background: $bg-color;

          .select2-selection__choice__remove {
            color: inherit;
            margin-right: 10px;
          }

          &.hidden {
            display: none;
          }
        }

        .select2-selection__clear {
          position: absolute;
          right: 0;
          top: 50%;
          font-size: 20px;
          line-height: 1;
          margin: 0;
          transform: translateY(-50%);
        }

        &:after {
          content: attr(data-total);
          width: 28px;
          height: 28px;
          display: none;
          justify-content: center;
          align-items: center;
          position: absolute;
          right: 20px;
          top: 50%;
          font-size: 12px;
          line-height: 1;
          color: $white-color;
          border-radius: 2px;
          background: $red-color;
          transform: translateY(-50%);
        }
        &.showAmmount{
          &:after{
            display: flex;
          }
        }
        .select2-search--inline {
          //display: none;
          .select2-search__field{
            font-size: 14px;
            padding: 0 10px;
            margin-top: 0;
          }
        }
      }
    }

    .select2-dropdown{
      box-shadow: 0 13px 16px rgba(0, 0, 0, 0.05);
      border-radius: 0 0 3px 3px;
      border: 1px solid #ececec;
    }

    .select2-results{
      padding: 30px;
      .select2-results__options{
        max-height: unset;
       .select2-results__option{
         position: relative;
         font-size: 14px;
         line-height: 2.5;
         padding: 0;
         padding-left: 25px;
         &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            display: block;
            width: 15px;
            height: 15px;
            border: 1px solid $text-color;
            border-radius: 2px;
            transform: translateY(-50%);
          }
         &:after{
           content: '';
           display: block;
           width: 3px;
           height: 6px;
           position: absolute;
           left: 6px;
           top: 13px;
           background: 0 0;
           border-right: 2px solid #fff;
           border-bottom: 2px solid #fff;
           -webkit-transform: rotate(45deg);
           -ms-transform: rotate(45deg);
           transform: rotate(45deg);
         }
         &[aria-selected="true"]{
          color: $primary-color;
          background: transparent;
           &:before{
             background: $primary-color;
             border-color: $primary-color;
           }
         }
          &--highlighted[aria-selected]{
            background: transparent;
            color: $primary-color;
          }
       }
      }
    }

  }
}