.sidebar{
  width: 265px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition:.3s;
  @media(max-width: 1024px){
    width: 100%;
  }
  &.short{
    width: 85px;
    @media(max-width: 767px){
      left: -85px;
    }
    .sidebar-content{
      padding: 30px 15px;
      @media(max-width: 1024px){
        width: 85px;
      }
    }
    .sidebar-account{
      width: calc(100% + 30px);
      padding: 15px 23px;
      margin-left: -15px;
      &.opened{
        .sidebar-account-info{
          opacity: 1;
          transform: scale(1,1);
          transition: transform .15s, opacity .15s;
        }
        .sidebar-account-dropdown{
          transform: translate(100%,100%) scale(1,1);
          transition: transform .15s .15s;
        }
      }
      &-image{
        margin-right: 22px;
      }
      &-info{
        background: $primary-color;
        padding: 16.5px 40px 16.5px 15px;
        margin: -16.5px 0;
        transform: scale(0,1);
        transform-origin: left;
        opacity: 0;
        transition: opacity .3s ease-in;
      }
      &-dropdown{
        width: 185px;
        transform: translate(100%,100%) scale(1,0);
        transition: transform 0s;
      }
    }
    .sidebar-logo-full{
      width: 0;
      height: 0;
      transform: scale(0,0);
      transition: transform 0.15s linear;
    }
    .sidebar-logo-short{
      width: 100%;
      height: 55px;
      margin-bottom: 13px;
      transform: scale(1,1);
      transition: transform 0.15s  0.15s linear;
    }
    .sidebar-list{
      width: calc(100% + 30px);
      margin-left: -15px;
      &-item{
        &-link{
          justify-content: center;
          &:hover{
            .sidebar-list-item-name{
              opacity: 1;
              transition: .3s;
            }
          }
        }
        &-image{
          margin: 0;
        }
        &-name{
          position: absolute;
          top: 50%;
          right: 0;
          color: $white-color;
          font-size: 14px;
          white-space: nowrap;
          background: $primary-dark-color;
          padding: 15px 20px;
          border-radius: 2px;
          opacity: 0;
          transform: translate(100%, -50%);
          transition: 0s;
          pointer-events: none;
          &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: -9px;
            border: 5px solid transparent;
            border-right-color: $primary-dark-color;
            transform:translateY(-50%);
          }
        }
        &-badge{
          right: auto;
          left: 12px;
          font-size: 0;
          width: 10px;
          min-width: 10px;
          height: 10px;
          border-radius: 50%;
        }
      }
    }
  }
  &-content{
    width: 100%;
    height: 100%;
    background: $content-bg;
    padding: 30px;
    transition:.3s;
    @media(max-width: 1024px){
      width: 265px;
    }
    @media(max-width: 767px){
      overflow: auto;
    }
  }
  &-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $overlay-color;
  }
  &-logo{
    display: flex;
    margin-bottom: 30px;
    &-full{
      width: 100%;
      height: 68px;
      transform: scale(1,1);
      transform-origin: center;
      transition: transform 0.15s 0.15s linear;
    }
    &-short{
      width: 0;
      height: 0;
      transform: scale(0,0);
      transform-origin: center;
      transition: transform 0.15s linear;
    }
  }
  &-account{
    display: flex;
    align-items: center;
    position: relative;
    width: calc(100% + 60px);
    color: $white-color;
    background: $primary-color;
    padding: 15px 30px;
    margin-left: -30px;
    margin-bottom: 5vmin;
    transition: .3s;
    &:hover{
      background: $primary-hover-color;
    }
    &.opened{
      .sidebar-account-dropdown{
        transform: translateY(100%) scale(1,1);
        &>*{
          opacity: 1;
          transition: opacity .3s .3s;
        }
      }
    }
    &-image{
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
      &-wrap {
        position: relative;
      }
    }
    &-info{
      line-height: 1.3;
      opacity: 1;
      transition: opacity .3s ease-in;
    }
    &-name{
      cursor: pointer;
    }
    &-email{
      font-size: 12px;
    }
    &-dropdown{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1;
      background: $primary-dark-color;
      padding: 15px;
      transform: translateY(100%) scale(1,0);
      transform-origin: top;
      transition: transform .3s;
      &>*{
        opacity: 0;
        transition: opacity 0s;
      }
      &-link{
        line-height: 2.5;
        margin-left: 15px;
        transition: .3s;
        &:hover{
          text-decoration: underline;
        }
      }
      &-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: $red-color;
        border-radius: 2px;
        padding: 11px 15px;
        margin-top: 15px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
        transition: .3s;
        &:hover{
          background-color: $red-hover-color;
        }
        img{
          height: 23px;
        }
      }
    }
    &-badge{
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -8px;
      left: -10px;
      font-size: 10px;
      background: $red-color;
      border-radius: 50%;
    }
  }
  &-list{
    width: calc(100% + 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -30px;
    transition: .3s;
    &-item{
      position: relative;
      color: $primary-color;
      padding: 0 30px;
      &:hover{
        background-color: $calendar-bg;
      }
      &.active{
        &:before{
          content: '';
          position: absolute;
          left: 0px;
          top: 0;
          width: 5px;
          height: 100%;
          background: $primary-color;
          transition: .3s;
        }
      }
      &-image{
        width: 25px;
        height: 25px;
        margin-right: 15px;
        transition: .3s;
      }
      &-link{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0;
        transition: .3s;
      }
      &-name{
        white-space: nowrap;
        opacity: 1;
        transition: opacity .3s ease-in;
      }
      &-badge{
        position: absolute;
        top: 50%;
        right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 20px;
        font-size: 10px;
        line-height: 1;
        color: $white-color;
        background: $red-color;
        border-radius: 2px;
        padding: 5px;
        transform: translateY(-50%);
      }
    }
  }
}