.tickets{
  &-view{
    margin: 30px 0;
    &-wrap{
      display: grid;
      align-content: start;
      grid-template-columns: calc(50% - 15px) calc(50% - 15px);
      column-gap: 30px;
      grid-template-areas:
              'info messages'
              'input messages'
              'buttons messages'
              'auto messages'
        ;
      @media(max-width: 1399px){
        grid-template-columns: 100%;
        grid-template-areas:
                'info'
                'messages'
                'input'
                'buttons'
      ;
      }
    }
    &-item{
      width: 100%;
      background: $content-bg;
      border-radius: 2px;
      padding: 30px;
      padding-bottom: 15px;
      margin-bottom: 30px;
      box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
      @media(max-width: 500px) and (orientation: portrait){
        padding: 15px;
      }
      &__oncreate{
        width: calc(50% - 15px);
        position: relative;
        &:before{
          content: 'Live View';
          position: absolute;
          top: -54px;
          left: 0;
          font-size: 24px;
          font-weight: 500;
          color: $primary-color;
        }
        @media(max-width: 1249px){
          display: none!important;
        }
      }
      &_info{
        grid-area: info;
        display: flex;
        flex-direction: column;
        &-avatar{
          max-width: 70px;
          border-radius: 50%;
          border: 2px solid $primary-color;
          padding: 3px;
          margin-right: 3vmin;
        }
        &-name{
          line-height: 1.45;
          font-weight: 500;
          margin-right: 3vmin;
        }
        &-status{
          font-size: 12px;
          color: $white-color;
          border-radius: 2px;
          background: $red-color;
          padding: 7px 25px;
          margin-left: auto;
          @media(max-width: 500px) and (orientation: portrait){
            margin-left: auto;
            margin-right: 0;
          }
        }
        &-date{
          font-weight: 500;
          margin-left: 15px;
          white-space: nowrap;
          @media(max-width: 500px) and (orientation: portrait){
            display: none;
          }
        }
        &-header{
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 30px;
        }
        &-description{
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          &-title{
            line-height: 1.45;
            font-weight: 500;
            margin-bottom: 30px;
          }
          &-text{
            line-height: 1.88;
          }
        }
        &-lists{
          width: calc(100% + 60px);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: flex-start;
          background: #f7f7f7;
          border-top: 1px solid rgba(65, 81, 89, 0.1);
          border-bottom: 1px solid rgba(65, 81, 89, 0.1);
          padding: 30px;
          margin: 0 -30px;
          margin-bottom: 15px;
          @media(max-width: 500px) and (orientation: portrait){
            width: calc(100% + 30px);
            margin: 0 -15px;
            margin-bottom: 15px;
            padding: 15px;
          }
        }
        &-table{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-right: 30px;
          margin-bottom: 30px;
          &-cell{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 15px;
            &-left{
              font-weight: 500;
              margin-right: 15px;
            }
          }
        }
        &-list{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-right: 30px;
          &-title{
            font-weight: 500;
            margin-bottom: 15px;
          }
          &-item{
            font-size: 12px;
            white-space: nowrap;
            border-radius: 2px;
            background-color: $gainsboro-color;
            padding: 8px 15px;
            margin-bottom: 15px;
          }
        }
        &-footer{
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media(max-width: 500px) and (orientation: portrait){
            flex-direction: column;
            justify-content: center;
          }
          &-text{
            font-weight: 500;
            margin-right: 15px;
            @media(max-width: 500px) and (orientation: portrait){
              margin-right: 0;
              margin-bottom: 15px;
            }
          }
          &-person{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: auto;
            @media(max-width: 500px) and (orientation: portrait){
              margin-right: 0;
              margin-bottom: 15px;
            }
            &-avatar{
              max-width: 35px;
              border-radius: 50%;
              margin-right: 15px;
            }
            &-name{
              color: $red-color;
              font-weight: 500;
            }
          }
          &-button{
            border-radius: 2px;
            background-color: $gainsboro-color;
            padding: 12px 15px;
            transition: .3s;
            &:hover{
              color: $white-color;
              background: $red-hover-color;
            }
          }
        }
      }
      &_messages{
        grid-area: messages;
      }
      &_message{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 15px;
          height: 25px;
          border-radius: 2px 0;
        }
        &_red{
          &:before{
            background: $red-color;
          }
        }
        &_blue{
          &:before{
            background: $primary-color;
          }
        }
        &-left{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          margin-right: 30px;
          @media(max-width: 500px) and (orientation: portrait){
            margin-right: 15px;
          }
        }
        &-right{
          width: calc(100% - 100px);
          @media(max-width: 500px) and (orientation: portrait){
            width: calc(100% - 85px);
          }
        }
        &-avatar{
          width: 70px;
          min-width: 70px;
          max-width: 70px;
          border-radius: 50%;
          margin-bottom: 20px;
        }
        &-like{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          font-weight: 500;
          text-align: center;
          &:hover{
            text-decoration: underline;
          }
          img{
            margin-bottom: 10px;
          }
        }
        &-reply{
          position: absolute;
          left: 15px;
          bottom: 10px;
          font-size: 12px;
          font-weight: 500;
          color: $red-color;
          &:hover{
            text-decoration: underline;
          }
        }
        &-header{
          height: 70px;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          margin-bottom: 10px;
          @media(max-width: 500px) and (orientation: portrait){
            margin-bottom: 5px;
          }
          &-info{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
          &-name{
            font-weight: 500;
            margin-bottom: 10px;
          }
          &-position{
            font-size: 14px;
            opacity: .3;
          }
          &-date{
            font-size: 12px;
            font-weight: 500;
            background: $secondary-color;
            border-radius: 3px;
            padding: 9px 15px;
            @media(max-width: 500px) and (orientation: portrait){
              display: none;
            }

          }
        }
        &-text{
          line-height: 1.88;
          ul,ol{
            padding-left: 20px;
          }
          ul{
            list-style: disc;
          }
          ol{
            list-style: decimal;
          }
        }
      }
      &_input{
        grid-area: input;
        &_oncreate{
          width: calc(50% - 15px);
          @media(max-width: 1249px){
            width: 100%;
          }
        }
        ul,ol{
          padding-left: 20px;
        }
        ul{
          list-style: disc;
        }
        ol{
          list-style: decimal;
        }
        .note-editor{
          &.note-frame{
            border: none;
            .note-toolbar{
              border: none;
              padding: 0;
              .note-btn{
                border: 1px solid $grey-color;
              }
            }
            .note-editable{
              padding: 15px 0;
            }
            .note-statusbar{
              display: none;
            }
          }
        }
      }
      &_buttons{
        grid-area: buttons;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: transparent;
        box-shadow: none;
        padding: 0;
        &-button{
          color: $white-color;
          font-weight: 500;
          border-radius: 2px;
          background: $red-color;
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
          padding: 15px 15px;
          margin-right: 4vmin;
          &:hover{
            background: $red-hover-color;
          }
        }
        &-link{
          font-weight: 500;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
  &-create{
    margin: 30px 0;
    &-wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      .tickets-view-item_info-date{
        @media(max-width: 1400px){
          display: none;
        }
      }
    }
    &-items{
      width: calc(50% - 15px);
      display: flex;
      flex-wrap: wrap;
      justify-content:space-between;
      align-items: flex-start;
      background: $content-bg;
      padding: 30px;
      padding-bottom: 0;
      margin-bottom: 30px;
      @media(max-width: 1249px){
        width: 100%;
      }
    }
    &-item{
      width:100%;
      margin-bottom: 30px;
      &_avatar{
        width: calc(100% + 60px);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f7f7f7;
        border-top: 1px solid #ecedee;
        border-bottom: 1px solid #ecedee;
        padding: 30px;
        margin: 0 -30px;
        &-image{
          margin-right: 30px;
          &-inner{
            width: 70px;
            border-radius: 50%;
          }
        }
        &-text{
          width: calc(100% - 100px);
        }
      }
      &_date{
        width: 210px;
        margin-top: 30px;
        @media(max-width: 1550px){
          width: 100%;
          margin-bottom: 0;
        }
      }
      &_multiselect{
        width: calc(100% + 60px);
        background-color: #f7f7f7;
        border-top: 1px solid #ecedee;
        padding: 30px;
        margin: 0 -30px;
      }
      &_select{
        width: calc(100% - 360px);
        margin-top: 30px;
        @media(max-width: 1550px){
          width: calc(100% - 150px);
          margin-bottom: 0;
        }
        @media(max-width: 767px) and (orientation: portrait){
          width: 100%;
        }
      }
      &_keywords{
        width: calc(100% + 60px);
        color: $white-color;
        background: $primary-color;
        padding: 30px;
        margin: -30px;
        margin-bottom: 0px;
      }
      &_text{
        width: calc(50% + 30px);
        margin: 0 -30px;
        padding: 30px;
        background-color: #f7f7f7;
        @media(max-width: 767px) and (orientation: portrait){
          width: calc(100% + 60px);
          padding-bottom: 0;
          &:last-child{
            padding-bottom: 30px;
          }
        }
      }
      &_radio{
        width: 110px;
        margin: 30px 0;
      }
      &-title{
        font-weight: 500;
        margin-bottom: 15px;
      }
      &-input{
        width: 100%;
        font-size: 14px;
        padding: 10.5px 15px;
        &_text{
          border: none;
          border-radius: 0;
          border-bottom: 1px solid $text-color;
          padding-left: 0;
          padding-right: 0;
        }
      }
      &-multiselect{
        width: 100%;
      }
      &-select{
        width: 100%;
        font-size: 14px;
        background: $content-bg;
        padding: 10.5px 15px;
      }
      &-keywords{
        position: relative;
        &-input{
          width: 100%;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid $border-color;
          padding: 10px 0px 10px 0px;
        }
      }
      &-radio{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &-input{
          display: none;
          &:checked+.tickets-create-item-radio-text{
            color: $white-color;
            border-color: $red-color;
            background: $red-color;
          }
        }
        &-text{
          width: 55px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          background: $content-bg;
          border: 1px solid $border-color;
          &_first{
            border-right: none;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }
          &_last{
            border-left: none;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
      }
    }
    .select2-container--default {
      .select2-selection--multiple {
        border: 1px solid $border-color;
        border-radius: 3px;
        padding: 5px;
        .select2-selection__rendered {
          min-height: 28px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          padding: 0;

          .select2-selection__choice {
            font-size: 12px;
            color: inherit;
            border: none;
            border-radius: 3px;
            padding: 8px 10px;
            margin: 0;
            margin-right: 5px;
            background: $bg-color;

            .select2-selection__choice__remove {
              color: inherit;
              margin-right: 10px;
            }

            &.hidden {
              display: none;
            }
          }

          .select2-selection__clear {
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 20px;
            line-height: 1;
            margin: 0;
            transform: translateY(-50%);
          }

          &:after {
            content: attr(data-total);
            width: 28px;
            height: 28px;
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 20px;
            top: 50%;
            font-size: 12px;
            line-height: 1;
            color: $white-color;
            border-radius: 2px;
            background: $red-color;
            transform: translateY(-50%);
          }
          &.showAmmount{
            &:after{
              display: flex;
            }
          }
          .select2-search--inline {
            //display: none;
            .select2-search__field{
              font-size: 14px;
              padding: 0 10px;
              margin-top: 0;
            }
          }
        }
      }

      .select2-dropdown{
        box-shadow: 0 13px 16px rgba(0, 0, 0, 0.05);
        border-radius: 0 0 3px 3px;
        border: 1px solid #ececec;
      }

      .select2-results{
        padding: 30px;
        .select2-results__options{
          max-height: unset;
          .select2-results__option{
            position: relative;
            font-size: 14px;
            line-height: 2.5;
            padding: 0;
            padding-left: 25px;
            &:before{
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              display: block;
              width: 15px;
              height: 15px;
              border: 1px solid $text-color;
              border-radius: 2px;
              transform: translateY(-50%);
            }
            &:after{
              content: '';
              display: block;
              width: 3px;
              height: 6px;
              position: absolute;
              left: 6px;
              top: 13px;
              background: 0 0;
              border-right: 2px solid #fff;
              border-bottom: 2px solid #fff;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &[aria-selected="true"]{
              color: $primary-color;
              background: transparent;
              &:before{
                background: $primary-color;
                border-color: $primary-color;
              }
            }
            &--highlighted[aria-selected]{
              background: transparent;
              color: $primary-color;
            }
          }
        }
      }

    }  }
}