* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: $text-color;
  background: $bg-color;
}

h1 {

}

h2 {
  font-size: 32px;
  font-weight: inherit;
}

h3 {
  font-size: 24px;
  font-weight: inherit;
}

h4 {
  font-size: 20px;
  font-weight: inherit;
}

img{
  max-width: 100%;
}
ul, ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid $border-color;
  border-radius: 3px;
  background: none;
}
select{
  cursor: pointer;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: none;
  border-radius: 0;
  cursor: pointer;
}