.wrapper{
  overflow: hidden;
}
.title{
  position: relative;
  color: $primary-color;
  font-weight: 500;
  line-height: 1.45;
  margin-bottom: 30px;
  @media(max-width: 767px){
    margin-bottom: 20px;
  }
  &-withButtons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    @media(max-width: 767px){
      flex-wrap: wrap;
    }
    .title{
      margin-bottom: 0;
      margin-right: 30px;
      @media(max-width: 767px){
        margin-bottom: 15px;
      }
    }
  }
  &-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media(max-width: 1024px){
      margin-left: auto;
    }
    @media(max-width: 767px){
      width: 100%;
      margin-left: 0;
    }
  }
  &-button{
    font-weight: 500;
    background: $content-bg;
    border-radius: 2px 0 0 2px;
    padding: 11px 15px;
    margin-right: 1px;
    transition: .3s;
    &:hover{
      background: $calendar-bg;
    }
    @media(max-width: 767px){
      width: 100%;
    }
    &_active{
      color: $white-color;
      background: $primary-color;
      &:hover{
        background: $primary-hover-color;
      }
    }
    &_image{
      width: 16px;
      height: 16px;
      background: none;
      padding: 0;
      margin-right: 20px;
      img{
        width: 16px;
        height: 16px;
      }
      &:hover{
        background: none;
      }
    }
  }
}
.datepickers-container{
  z-index: 1;
}

#toast-container>div{
  box-shadow: 0 5px 20px 0px hsla(0, 0%, 0%, 0.15);
  &:hover{
    box-shadow: 0 5px 20px 0px hsla(0, 0%, 0%, 0.15);
  }
}
.toast-title{
  font-weight: 500;
  margin-bottom: 10px;
}
.toast-message{
  font-size: 14px;
}
.toast-success{
  background-color: $green-color;
}
.toast-info{
  background-color: $primary-hover-color;
}
.toast-warning{
  background-color: $orange-color;
}
.toast-error{
  background-color: $red-color;
}


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: #305a70;
}

.pulse {
  position: relative;
  left: 50%;
  top: 50vh;
  margin-left: -40px;
  margin-top: -40px;
}

@media screen and (max-width: 600px) {
  .pulse {
    margin-left: -20px;
    margin-top: -20px;
  }
}

@keyframes pulse {
  25% {
    transform: scale(0.8);
  }

  70% {
    transform: scale(1.1);
  }
}

.logo-preloader {
  height: 50px;
  border-radius: 5px;
  background-color: #4382a2;
  width: 50px;
  color: #fff;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse .9s ease-in infinite;
}
