$bg-color:            #e1e6ea;
$content-bg:          #ffffff;
$text-color:          #415159;
$input-color:         #2f3b41;
$border-color:        #e7e7e7;
$selected-color:      #c0d4dc;

$primary-color:       #305a70;
$primary-hover-color: #214c63;
$primary-dark-color:  #244455;
$secondary-color:     #ffefd6;

$white-color:         #ffffff;
$black-color:         #000000;
$red-color:           #ff4b55;
$red-hover-color:     #fb3e48;
$blue-color:          #0079c1;
$light-blue-color:    #13aaf9;
$crayola-blue-color:  #6b91c9;
$slate-blue-color:    #796bea;
$green-color:         #689257;
$orange-color:        #de902a;
$yellow-color:        #e1c12a;
$grey-color:          #c5c5c5;
$gainsboro-color:     #e6e6e6;

$modal-hover-color:   #f5f6f8;
$overlay-color:       rgba(30, 55, 68, .7);
$calendar-bg:         #f4f6fa;


$datepickerFontFamily: 'Rubik', sans-serif;
$datepickerTextColor: (
        button: #5cc4ef,
        otherMonth: #dedede,
        otherMonthInRange: #ccc,
        disabled: #aeaeae,
        currentDate: $primary-color,
        common: #4a4a4a,
        dayNames: $red-color,
        navArrows: #9c9c9c
);
$datepickerBG: (
        selected: $primary-color,
        selectedHover: darken($primary-color, 5),
        inRange: rgba($primary-color, .1),
        hover: #f0f0f0
)